*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: light !important;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: #F5F4F0;
  color: #0F1F2A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DM Sans', sans-serif;
}